<header class="header menu_fixed" >
<a class="navbar-brand logo1" href="/"><img src="https://he-s3.s3.amazonaws.com/media/cache/2f/96/2f96363357d5bc63c2314e69ab03896e.png" width=300 class="logo-main" style="width:124px; height:126px;"></a>

	<nav class="navbar navbar-nav navbar-expand-lg " style="      display: flex;flex-direction: row;  float: right; color:white; padding-right: 50px;">
		<a class="navbar-brand navbar-center" href="/candidates" style=" "><button class="new_tsin" style="font-size:25px;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;"><b>Upload history data</b></button></a>
		<a class="navbar-brand navbar-center"href="/candidates"><button class="new_tsin" style="font-size:25px;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;"><b>View Positions</b></button></a>
		<a class="navbar-brand navbar-center"href="/add-tsin"><button class="new_tsin" style="font-size:25px;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;"><b>Add Position</b></button></a>
	</nav>
</header>