<header class="header menu_fixed">

	<nav class="navbar navbar-nav navbar-expand-lg navarea" style="   margin-top:-20px;padding-top:0;padding-bottom:0;  padding-left:50px; display: flex;flex-direction: row;  float: left; color:white; padding-right: 50px;">
		
		<a class="navbar-brand navbar-center" href="/upload-candidates"><button class="new_tsin" style="font-size:15px;"><b>Upload history data</b></button></a>
		<a class="navbar-brand navbar-center"href="/"><button class="new_tsin" style="font-size:15px;"><b>Abstract View</b></button></a>
		<a class="navbar-brand navbar-center"href="/detailed-view"><button class="new_tsin" style="font-size:15px;"><b>Detailed View</b></button></a>
		<a class="navbar-brand navbar-center"href="/add-tsin"><button class="new_tsin" style="font-size:15px;"><b>Add Position</b></button></a>
	</nav>
</header>
<script>
$(document).ready(function() {
    $("nav.navarea [href]").each(function() {
        if (this.href == window.location.href) {
            $(this).addClass("active");
        }
    });
});
</script>