<header class="header menu_fixed" style="position:fixed;top:67px;width:100%;z-index:10;">

	<nav class="navbar navbar-nav navbar-expand-lg navarea navbar-light" style=" width:100%;  padding-top:10px;padding-bottom:0;  padding-left:50px; display: flex;flex-direction: row;  float: left; color:white; padding-right: 50px;">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<a class="navbar-brand navbar-center" href="/upload-candidates"><button class="new_tsin" style="font-size:15px;">Upload history data</button></a>
		<a class="navbar-brand navbar-center"href="/"><button class="new_tsin" style="font-size:15px;">Abstract View</button></a>
		<a class="navbar-brand navbar-center"href="/detailed-view"><button class="new_tsin" style="font-size:15px;">Detailed View</button></a>
		{% if user=="pmo" %}<a class="navbar-brand navbar-center"href="/add-tsin"><button class="new_tsin" style="font-size:15px;">Add Position</button></a>{% endif %}
		<a class="navbar-brand navbar-center"href="/dashboard"><button class="dashboard" style="font-size:15px;">Dashboard</button></a>
	
	</div>
	
	</nav>
	{% if url_for(request.endpoint) == '/detailed-view'%}
		<a class="navbar-brand navbar-center resetfilters"href="/detailed-view" style="float:right;margin-top:0px;"><button class="new_tsin" style="text-decoration:none !important; font-size:13px; border: 1px solid lightgray;padding:5px; margin-top:-20px !important; border-radius: 8px;"><b>Reset Filters</b></button></a>
		{% endif %}
	{% if url_for(request.endpoint) == '/'%}
		<label class="switch">
			<input type="checkbox" class="togglebtn">
			<span class="slider round"></span>
		</label>
	{% endif %}
</header>
<script>
$(document).ready(function() {
    $("nav.navarea [href]").each(function() {
        if (this.href == window.location.href) {
            $(this).addClass("active");
        }
    });
});
$('.togglebtn').change(function(){
   var element = document.body;
   element.classList.toggle("inactive-theme");
   if($("body").hasClass('inactive-theme')){
      console.log('yes');
      $("#activetable").css("display","none");
      $("#inactivetable").css("display","table");
    }
    else{
      $("#activetable").css("display","table");
      $("#inactivetable").css("display","none");
    }
  });
  function toggleFunction() {
   var element = document.body;
   element.classList.toggle("inactive-theme");
  }
</script>