{% extends "layout/base.html" %}

{% block title %}HIREUP{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}<style>
label{
  width:17%;
  text-align:right;
  font-size:12px;
}
</style>{% endblock stylesheets %}

{% block body_class %} landing-page {% endblock body_class %}

{% block content %}

<main style="padding-top:130px;">
<section class="register-form">
    <div class="container form">
    <div class="row reg-form" style="color:#E20074;padding:30px;border: 3px dashed #E20074; border-radius:10px; margin:auto;">
    <h1 style="color: #E20074; text-align:center; font-size:25px;">Add New Squad</h1><hr><br><br><br><br>
    <form id="upload-form" name="loginform"  method = "POST" enctype = "multipart/form-data">
        <input type="text" id="newsquad" name="squad" placeholder="Enter Squad Name" style="font-size:12px;"><br><button class="addsquad" style="padding:3px;margin-top:15px;">Add Squad</button><br>
        
    </form>
    </div>

  </div>

</section>
</main>
<script>
var squadbtn=document.getElementsByClassName("addsquad");
squadbtn[0].addEventListener("click", function() {
squad=$("#newsquad").val();
jsondata={
  "squad":squad
}
$.ajax({
      type: "POST",
      data: jsondata,
      url:"/add-squad",
       complete: function( response ) {
            Swal.fire(response.responseText);
            $(".swal2-confirm")[0].addEventListener("click", function() {
            window.location.reload();
            });
       }
      });
});
</script>
{% endblock content %}
