{% extends "layout/base.html" %}

{% block title %}HIREUP{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
    #myChartweekly div div div{
        position:static !important;
        float:left ;
    }
    #myChartweekly div div{
        height:300px !important;
    }
    #myChartweekly{
        float:left;
        width:32%;
    }
    #myChartmonthly div div div{
        position:static !important;
        float:left ;
    }
    #myChartmonthly{
        float:left;
        width:32vw;
    }
    #myChartquarterly div div div, #myChartroleoffers div div div, #myChartrolenew div div div{
        position:static !important;
        float:left ;
    }
    #myChartquarterly, #myChartroleoffers{
        float:left;
    }
    #myChartroleoffers{
        margin-bottom:120px;
    }
    #myChartrolenew{
        display:inline-table !important;
    }
    
</style>
{% endblock stylesheets %}

{% block body_class %} landing-page {% endblock body_class %}

{% block content %}

<main style="padding-top:130px;">
{{offers}}
{{dropout}}
<form>
<input type="hidden" id="offer-weekly" value="{{total_offer[0]}}">
<input type="hidden" id="offer-monthly" value="{{total_offer[1]}}">
<input type="hidden" id="offer-quarterly" value="{{total_offer[2]}}">
<input type="hidden" id="dropout-weekly" value="{{total_dropouts[0]}}">
<input type="hidden" id="dropout-monthly" value="{{total_dropouts[1]}}">
<input type="hidden" id="dropout-quarterly" value="{{total_dropouts[2]}}">
<input type="hidden" id="offer-rolewise" value="{{role_wise_offers}}">
<input type="hidden" id="new-weekly" value="{{new_positions[0]}}">
<input type="hidden" id="new-monthly" value="{{new_positions[1]}}">
<input type="hidden" id="new-quarterly" value="{{new_positions[2]}}">
<input type="hidden" id="new-rolewise" value="{{role_wise_new}}">
</form>
<button onclick="new_profiles({{role_wise_new}})" id="new_profile_add" style="display:none;"></button>
<div id="myChartweekly" width="400" height="300" style="display:block; width:400px !important; height:400px !important;"></div>
<div id="myChartmonthly" width="400" height="300" style="display:block; width:400px !important; height:400px !important;"></div>
<div id="myChartquarterly" width="400" height="300" style="display:block; width:400px !important; height:400px !important;"></div>
<div id="myChartroleoffers" width="500" height="400" style="display:block; width:400px !important; height:400px !important;"></div>
<div id="myChartrolenew" width="500" height="400" style="display:inline-table; width:400px !important; height:400px !important;"></div>
</main>
<script>
$(document).ready(function() {
    document.getElementById("new_profile_add").click();
});
var weeklyoffer=$('#offer-weekly').val();
var monthlyoffer=$('#offer-monthly').val();
var quarterlyoffer=$('#offer-quarterly').val();
var weeklydropout=$('#dropout-weekly').val();
var monthlydropout=$('#dropout-monthly').val();
var quarterlydropout=$('#dropout-quarterly').val();
var role_wise_offers=$('#offer-rolewise').val();
var weeklynew=$('#new-weekly').val();
var monthlynew=$('#new-monthly').val();
var quarterlynew=$('#new-quarterly').val();
var newrolewise=$('#new-rolewise').val();
console.log(weeklyoffer);
google.charts.load("current", {packages:["corechart"]});
google.charts.setOnLoadCallback(drawChart);
google.charts.setOnLoadCallback(drawChart1);
google.charts.setOnLoadCallback(drawChart2);
google.charts.load("current", {packages: ['corechart', 'bar']});
google.charts.setOnLoadCallback(drawChart3);
function drawChart() {
var data = google.visualization.arrayToDataTable([
    ['Activity', 'Resumes under it'],
    ['Offers Rolled Out', Number(weeklyoffer)],
    ['Candidate Dropped Out',Number(weeklydropout)],
    ['New Profiles Added', Number(weeklynew)]
]);

var options = {
    title: 'Past 2 Weeks Insights',
    is3D: true,
    pieSliceText:'value',
    sliceVisibilityThreshold:0
};

var chart = new google.visualization.PieChart(document.getElementById('myChartweekly'));
chart.draw(data, options);
}
function drawChart1() {
var data = google.visualization.arrayToDataTable([
    ['Activity', 'Resumes under it'],
    ['Offers Rolled Out', Number(monthlyoffer)],
    ['Candidate Dropped Out', Number(monthlydropout)],
    ['New Profiles Added', Number(monthlynew)]
]);

var options = {
    title: "Last 1 Month's Insights",
    is3D: true,
    pieSliceText:'value',
    sliceVisibilityThreshold:0
};

var chart = new google.visualization.PieChart(document.getElementById('myChartmonthly'));
chart.draw(data, options);
}
function drawChart2() {
var data = google.visualization.arrayToDataTable([
    ['Activity', 'Resumes under it'],
    ['Offers Rolled Out', Number(quarterlyoffer)],
    ['Candidate Dropped Out', Number(quarterlydropout)],
    ['New Profiles Added', Number(quarterlynew)]
]);

var options = {
    title: "Last 1 Quarter's Insights",
    is3D: true,
    pieSliceText:'value',
    sliceVisibilityThreshold:0
};

var chart = new google.visualization.PieChart(document.getElementById('myChartquarterly'));
chart.draw(data, options);
}
function drawChart3() {
              var data = new google.visualization.DataTable();
              data.addColumn('string', 'Role');
              data.addColumn('number', 'Offer Rollout');
              console.log(role_wise_offers);
              var key1 = role_wise_offers.replace(/'/g, '"');
              console.log(key1);
              var role_offers=JSON.parse(key1);
              console.log(role_offers);
              var len=Object.keys(role_offers).length;
              const chartdata = [];
              for(let i=0;i<len;i++){
                chartdata.push([Object.keys(role_offers)[i], Object.values(role_offers)[i]]);
              }
              data.addRows(chartdata);

              var options = {
                title:'Number of Offers Rolled out in each Role',
                is3D:true,
                height:500, 
                width:700
              };
              var chart = new google.visualization.ColumnChart(document.getElementById("myChartroleoffers"));
              chart.draw(data, options);
          }
function new_profiles(rows){
    function drawChart4() {
              var data = new google.visualization.DataTable();
              data.addColumn('string', 'Role');
              data.addColumn('number', 'Profile Added');
              data.addColumn('number', 'Resume Screened for Interview');
              data.addColumn('number', 'L1 Interview Complete');
              data.addColumn('number', 'L2 Interview Complete');
              data.addColumn('number', 'L3 Interview Complete');
              data.addColumn('number', 'Offer RollOut');
              data.addColumn('number', 'Buddy Assignment');
              data.addColumn('number', 'Candidate Joined/Dropout');
              console.log(newrolewise);
              /*var key1 = newrolewise.replace(/'/g, '"');
              var role_new=JSON.parse(key1);
              var len=Object.keys(role_new).length;
              const chartdata = [];
              for(let i=0;i<len;i++){
                chartdata.push([Object.keys(role_new)[i], Object.values(role_new)[i]]);
              }*/
              data.addRows(rows);

              var options = {
                title:'Number of New Profiles in each Role',
                is3D:true,
                height:500, 
                width:1400,
                isStacked: true,
                annotations: {
                    textStyle: {
                    fontSize: 10
                    }
                },
              };
              var chart = new google.visualization.ColumnChart(document.getElementById("myChartrolenew"));
              chart.draw(data, options);
    }
    google.charts.setOnLoadCallback(drawChart4);
}
</script>
{% endblock content %}