{% extends "layout/base.html" %}

{% block title %}HIREUP{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} landing-page {% endblock body_class %}

{% block content %}

<main>
<div class="info">
      <table class="roles">
      <tr>
      <th>TSIN ID</th>
      <th>Role</th>
      <th>Chapter</th>
      <th>Squad</th>
      <th>Candidate Name </th>
      <th>PAN Number</th>
      <th>Cadidate Email</th>
      <th>Current Stage</th>
      <th>Request Rasied</th>
      <th>TSIN Opened</th>
      <th>Resume Screened</th>
      <th>L1 Interview Complete</th>
      <th>L1 Interviewer</th>
      <th>L2 Interview Complete</th>
      <th>L2 interviewer</th>
      <th>L3 Interview Complete</th>
      <th>L3 Interviewer</th>
      <th>Offer RollOut</th>
      <th>Joining Date</th>
      <th>Buddy Assignment</th>
      <th>Buddy Name</th>
      <th>Candidate Joined</th>
      <th>Candidate Dropout</th>
      <th>Dropout Reason</th>
      </tr>
      <tr>
      <td><select id='selUser' style='width: 200px;'>
      <option value='none'>--None--</option>
      {% set tsin = [] %}
      {% for i in cands %}
        {% if i[0] not in tsin %}
          {{ tsin.append( i[0] ) }}
          <option value='{{i[0]}}'>{{i[0]}}</option> 
        {% endif %}
      {% endfor %}
      </select>
      <br/>
      <div id='result'></div>
      </td>
      <td><select id='selUser2' style='width: 200px;'>
      <option value='none'>--None--</option>
      {% set role = [] %}
      {% for i in cands %}
        {% if i[1] not in role %}
          {{ tsin.append( i[1] ) }}
          <option value='{{i[1]}}'>{{i[1]}}</option> 
        {% endif %}
      {% endfor %}
      </select>
      <br/>
      <div id='result'></div></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      </tr>
      {% for i in cands %}
      <tr>
      <td>{{i[0]}}</td>
      <td>{{roles[i[0].strip()][0]}}</td>
      <td>{{roles[i[0].strip()][1]}}</td>
      <td>{{roles[i[0].strip()][2]}}</td>
      <td>{{i[1]}}</td>
      <td>{{i[2]}}</td>
      <td>{{i[3]}}</td>
      <td>{{i[4]}}</td>
      <td>{{i[5]}}</td>
      <td>{{i[6]}}</td>
      <td>{{i[7]}}</td>
      <td>{{i[8]}}</td>
      <td>{{i[9]}}</td>
      <td>{{i[10]}}</td>
      <td>{{i[11]}}</td>
      <td>{{i[12]}}</td>
      </tr>
      {% endfor %}
    </table>
</div>
</main>
<script>
$(document).ready(function(){
    // Initialize select2
    $("#selUser").select2();
    $("#selUser2").select2();
    // Read selected option
    $('#but_read').click(function(){
        var username = $('#selUser option:selected').text();
        var userid = $('#selUser').val();

        $('#result').html("id : " + userid + ", name : " + username);

    });
    $('#but_read').click(function(){
        var username = $('#selUser2 option:selected').text();
        var userid = $('#selUser2').val();

        $('#result').html("id : " + userid + ", name : " + username);

    });
});
</script>
{% endblock content %}