{% extends "layout/base.html" %}

{% block title %}HIREUP{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} landing-page {% endblock body_class %}

{% block content %}

<main>
<div class="info">
      <table class="roles">
      <tr>
      <th>TSIN ID</th>
      <th>Role</th>
      <th>Chapter</th>
      <th>Squad</th>
      <th>Candidate Name </th>
      <th>PAN Number</th>
      <th>Cadidate Email</th>
      <th>Current Stage</th>
      <th>Request Rasied</th>
      <th>TSIN Opened</th>
      <th>Resume Screened</th>
      <th>L1 Interview Complete</th>
      <th>L1 Interviewer</th>
      <th>L2 Interview Complete</th>
      <th>L2 interviewer</th>
      <th>L3 Interview Complete</th>
      <th>L3 Interviewer</th>
      <th>Offer RollOut</th>
      <th>Joining Date</th>
      <th>Buddy Assignment</th>
      <th>Buddy Name</th>
      <th>Candidate Joined</th>
      <th>Candidate Dropout</th>
      <th>Dropout Reason</th>
      </tr>
      <tr>
      </tr>
    </table>
</div>
</main>
<script>

</script>
{% endblock content %}