 {% for i in final %}
      <tr class="datarows">
      <td>{{i['tsinid']}}</td>
      <td>{{i['role']}}</td>
      <td>{{i['chapter']}}</td>
      <td>{{i['squad']}}</td>
      <td>{{i['candidate_name']}}</td>
      <td>{{i['pan']}}</td>
      <td>{{i['candidate_email']}}</td>
      <td>{{i['current_stage']}}</td>
      <td>{{i['request_raised_date']}}</td>
      <td>{{i['tsin_opened_date']}}</td>
      <td>{{i['resume_screened_date']}}</td>
      <td>{{i['l1_interview_date']}}</td>
      <td>{{i['l1_interviewer']}}</td>
      <td>{{i['l2_interview_date']}}</td>
      <td>{{i['l2_interviewer']}}</td>
      <td>{{i['l3_interview_date']}}</td>
      <td>{{i['l3_interviewer']}}</td>
      <td>{{i['offer_rollout_date']}}</td>
      <td>{{i['joining_date']}}</td>
      <td>{{i['buddy_assignment_date']}}</td>
      <td>{{i['buddy_name']}}</td>
      <td>{{i['l3_interviewer']}}</td>
      <td>{{i['candidate_dropout_date']}}</td>
      <td>{{i['candidate_dropout_reason']}}</td>
      </tr>
{% endfor %}