{% extends "layout/base.html" %}

{% block title %}HIREUP{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} landing-page {% endblock body_class %}

{% block content %}

<main>
<section class="register-form">
    <div class="container form">
    <div class="row reg-form" style="color:white;padding:30px;border: 3px dashed #E20074; border-radius:10px;">
    <h1 style="color: #E20074; text-align:center;">Upload new candidate's data in the form of CSV or XLSX</h1>
      <form id="upload-form" name="fileupload"  action = "upload-dataset" method = "POST" enctype = "multipart/form-data">
        <input type="file" id="uploaded" name="file" accept=".xlsx,.xls,.csv" style="text-align:center;border: 1px dashed #E20074; padding:10px;color:#E20074;"><br><br>
        <input type="submit" id="upload" value="Submit"> <span class="loader" style="top:1% !important; left:1% !important;"><span class="loader-inner"></span></span></div>
      </form>
    </div>
    
  </div>
  
</section>
</main>
<script>

    $(".loader").css("visibility","hidden");
$(document).on('click', '#upload', function(e){
    $(".loader").css("visibility","visible");
});
</script>
{% endblock content %}