{% extends "layout/base.html" %}

{% block title %}HIREUP{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}<style>
label{
  width:17%;
  text-align:right;
  font-size:12px;
}
</style>{% endblock stylesheets %}

{% block body_class %} landing-page {% endblock body_class %}

{% block content %}

<main style="padding-top:130px;">
{% if user is not none %}
 <div class="card col-md-3" style="text-align:center;">
  <img src="{{url_for('static', filename='img/img_avatar.png')}}" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>{{name[0]|upper}}{{name[1:]}}</b></h4>
    <p>{{user[0]|upper}}{{user[1:]}}</p>
  </div>
</div>
</br>
</br>
<div style="display:flex;">
<button id="logout" onclick="window.location.href='/logout'" style="padding:0 12px; border-radius:6px; margin:auto; border: 1px solid #E20074; background: white; color:#E20074;">Logout</button>
</div>
{% else %}
<section class="register-form">
    <div class="container form">
    <div class="row reg-form" style="color:#E20074;padding:30px;border: 3px dashed #E20074; border-radius:10px;">
    <h1 style="color: #E20074; text-align:center; font-size:25px;">Log In</h1><hr><br><br><br><br>
      <form id="upload-form" name="loginform"  action = "/loginToken" method = "POST" enctype = "multipart/form-data">

        <input type="email" id="email" name="email" style="width:270px;height:19px;" placeholder="Enter Email" required><br>
        <input type="password" id="password" name="password" style="width:270px;height:19px;"  placeholder="Enter Password" required><br>
        <button type="submit" id="add_tsin" class="new_tsin btn" style="margin-top:20px; font-size:15px;font-weight:800;background-color:white;color:#E20074;border:1px solid #E20074;padding:5px;">Submit</button>
      </form>
    </div>

  </div>

</section>
{% endif %}
</main>
<script>
</script>
{% endblock content %}
