{% extends "layout/base.html" %}

{% block title %}HIREUP{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}<style>
label{
  width:17%;
  text-align:right;
  font-size:12px;
}
</style>{% endblock stylesheets %}

{% block body_class %} landing-page {% endblock body_class %}

{% block content %}

<main style="padding-top:130px;">
<table id="activetable" class="roles" style="font-size:11px;">
      <tr style="position:sticky; top:0px; z-index:1px;">
      <th>TSIN ID</th>
      <th>Snow ID</th>
      <th>Role</th>
      <th>Chapter</th>
      <th>Squad</th>
      <th>Demand Type</th>
      <th>Tribe</th>
      <th style="width:154px;">Actions</th>
      </tr>
        <tr>
          <td><input type="text" id="tsinid" name="tsinid"  placeholder="TSIN ID" onchange="checktsin({{final}}, this);" required></td>
          <td><input type="text" id="snowid" name="snow_id"  placeholder="Snow ID"></td>
          <td><select name="chapter" id="chapter"style=" font-size:12px;">
          <option value="none">--None--</option>
        {% for i in chapters %}
          <option value="{{i.chapter_name}}">{{i.chapter_name}}</option>
        {% endfor %}
        </select>
        </td>
        <td><select name="role" id="role"style="font-size:12px;">
          <option value="none">--None--</option>
          {% for i in roles %}
          <option value="{{i.role_name}}">{{i.role_name}}</option>
          {% endfor %}
          </select>
        </td>
        <td><select name="squad" id="squad"style="font-size:12px;">
          <option value="none">--None--</option>
          {% for i in squads %}
          <option value="{{i.squad_name}}">{{i.squad_name}}</option>
          {% endfor %}
          </select>
          </td>
          <td>
        <select name="demandtype" id="demandtype"style="font-size:12px;">
          <option value="none">--None--</option>
          <option value="Backfill">Backfill</option>
          <option value="New Demand">New Demand</option>
          <option value="Proactive">Proactive</option>
        </select></td>
        <td>
        <select name="tribe" id="tribe"style="font-size:12px;">
          <option value="none">--None--</option>
          {% for i in tribes %}
          <option value="{{i.tribe_name}}">{{i.tribe_name}}</option>
          {% endfor %}
        </select>
        </td>
        </tr>
</table>
</main>
<script>
</script>
{% endblock content %}